<header full center>
  <div container header justify-content-space-between center>
    <div routerLink="/" pointer border-1 border-gray full-rounded pt-10px pb-10px pr-20px pl-20px fs22px  color-gray-4>JCA</div>

    <nav>
      <ul flex list-style-none gap-50px fs18px>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/auth/logout">Exit</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
