<div column gap-30>
  <div class="card p-fluid">
    <label class="flex">Dropdown</label>
    <p-dropdown
      [options]="cities"
      [(ngModel)]="selectedCity"
      optionLabel="name"
    ></p-dropdown>
  </div>

  <hr>

  <div class="card p-fluid">
    <label class="flex">Editable Dropdown</label>
    <p-dropdown
      [options]="cities"
      [(ngModel)]="selectedCity"
      placeholder="Select a City"
      [editable]="true"
      optionLabel="name"
    ></p-dropdown>
  </div>

  <hr>

  <div class="card p-fluid">
    <label class="flex">Group Dropdown</label>
    <p-dropdown
      [options]="groupedCities"
      [(ngModel)]="selectedCity2"
      placeholder="Select a City"
      [group]="true"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'mr-2 flag flag-' + group.value"
            style="width: 20px"
          />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

</div>
