<div column gap-20>
  <div flex gap-20>
    <div column gap-20>
      <div class="card">
        <label flex>Basic</label>

        <p-password [(ngModel)]="value" [feedback]="false"></p-password>
      </div>

      <div class="card">
        <label flex>Reactive Forms</label>

        <form [formGroup]="formGroup">
          <p-password formControlName="value" [feedback]="false"></p-password>
        </form>
      </div>

      <div class="card">
        <label flex>Meter</label>

        <p-password [(ngModel)]="value"></p-password>
      </div>

      <div class="card">
        <label flex>Toggle Mask</label>

        <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
      </div>
    </div>

    <div column gap-20>
      <div class="card">
        <label flex>Template</label>

        <p-password [(ngModel)]="value">
             <ng-template pTemplate="header">
                 <h6>Pick a password</h6>
             </ng-template>
             <ng-template pTemplate="footer">
                 <p class="mt-2">Suggestions</p>
                 <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                     <li>At least one lowercase</li>
                     <li>At least one uppercase</li>
                     <li>At least one numeric</li>
                     <li>Minimum 8 characters</li>
                 </ul>
             </ng-template>
         </p-password>
      </div>

      <div class="card" style="margin-top: 18px">
        <span class="p-float-label">
            <p-password [(ngModel)]="value" [feedback]="false"></p-password>
            <label for="password">Float Label</label>
        </span>
      </div>

      <div class="card">
        <label flex>Invalid</label>

        <p-password [(ngModel)]="value" class="ng-invalid ng-dirty"></p-password>
      </div>

      <div class="card">
        <label flex>Disabled</label>

        <p-password [(ngModel)]="value" [disabled]="true"></p-password>
      </div>
    </div>
  </div>
</div>
