<div column gap-20>
  <div column gap-20>
    <div class="card">
      <label flex>Basic</label>

      <p-button
        (click)="visible = !visible"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible"
        [style]="{ width: '50vw' }"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Long Content</label>

      <p-button
        (click)="visible2 = !visible2"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Long Content"
        [(visible)]="visible2"
        [style]="{ width: '50vw', height: '300px' }"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
          ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
          ea voluptate velit esse quam nihil molestiae consequatur, vel illum
          qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus id quod maxime placeat facere possimus,
          omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
          autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
          eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
          voluptatibus maiores alias consequatur aut perferendis doloribus
          asperiores repellat.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Modal</label>

      <p-button
        (click)="visible3 = !visible3"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible3"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Responsive</label>

      <p-button
        (click)="visible4 = !visible4"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible4"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Position</label>

      <div column gap-10>
        <div flex gap-10>
          <p-button
            (click)="confirmPosition('left')"
            icon="pi pi-arrow-right"
            label="Left"
            styleClass="p-button-help"
          ></p-button>
          <p-button
            (click)="confirmPosition('right')"
            icon="pi pi-arrow-left"
            label="Right"
            styleClass="p-button-help"
          ></p-button>
          <p-button
            (click)="confirmPosition('top-left')"
            icon="pi pi-arrow-down"
            label="TopLeft"
            styleClass="p-button-warning"
          ></p-button>
          <p-button
            (click)="confirmPosition('top')"
            icon="pi pi-arrow-down"
            label="Top"
            styleClass="p-button-warning"
          ></p-button>
          <p-button
            (click)="confirmPosition('top-right')"
            icon="pi pi-arrow-down"
            label="TopRight"
            styleClass="p-button-warning"
          ></p-button>
        </div>
        <div flex gap-10>
          <p-button
            (click)="confirmPosition('bottom-left')"
            icon="pi pi-arrow-up"
            label="BottomLeft"
            styleClass="p-button-success"
          ></p-button>
          <p-button
            (click)="confirmPosition('bottom')"
            icon="pi pi-arrow-up"
            label="Bottom"
            styleClass="p-button-success"
          ></p-button>
          <p-button
            (click)="confirmPosition('bottom-right')"
            icon="pi pi-arrow-up"
            label="BottomRight"
            styleClass="p-button-success"
          ></p-button>
        </div>
      </div>
      <p-dialog
        header="Header"
        [(visible)]="visible6"
        [position]="position"
        [style]="{ width: '50vw' }"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Maximizable</label>

      <p-button
        (click)="visible5 = !visible5"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [modal]="true"
        [(visible)]="visible5"
        [style]="{ width: '50vw' }"
        [maximizable]="true"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Custom Content</label>

      <p-button
        (click)="visible7 = !visible7"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible7"
        [style]="{ width: '50vw' }"
      >
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Header Content</span>
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ng-template pTemplate="footer">
          <p-button
            icon="pi pi-check"
            (click)="visible7 = false"
            label="Ok"
            styleClass="p-button-text"
          ></p-button>
        </ng-template>
      </p-dialog>
    </div>

    <hr />

    <div class="card">
      <label flex>Overlays Inside</label>

      <p-button
        (click)="visible8 = !visible8"
        icon="pi pi-external-link"
        label="Show"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible8"
        [style]="{ width: '50vw' }"
      >
        <div class="flex py-2 justify-content-center">
          <p-dropdown
            appendTo="body"
            [options]="cities"
            [(ngModel)]="selectedCity"
            placeholder="Select a City"
            optionLabel="name"
          ></p-dropdown>
        </div>
      </p-dialog>
    </div>
  </div>
</div>
