<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-timeline [value]="events">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>

  <hr />

  <div class="card">
    <label flex>Alignment</label>

    <p-timeline [value]="events" class="w-full md:w-20rem">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
    <p-timeline [value]="events" class="w-full md:w-20rem" align="right">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
    <p-timeline [value]="events" class="w-full md:w-20rem" align="alternate">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>

  <hr />

  <div class="card">
    <label flex>Opposite</label>

    <p-timeline [value]="events">
      <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.date }}</small>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>

  <hr />

  <div class="card">
    <label flex>Template</label>

    <p-timeline
      [value]="events"
      align="alternate"
      styleClass="customized-timeline"
    >
      <ng-template pTemplate="marker" let-event>
        <span
          class="custom-marker shadow-2"
          [style.backgroundColor]="event.color"
        >
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card [header]="event.status" [subheader]="event.date">
          <img
            *ngIf="event.image"
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/product/' +
              event.image
            "
            [alt]="event.name"
            width="200"
            class="shadow-2"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <button pButton label="Read more" class="p-button-text"></button>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>

  <hr />

  <div class="card">
    <label flex>Basic</label>

    <p-timeline
      [value]="events"
      align="alternate"
      styleClass="customized-timeline"
    >
      <ng-template pTemplate="marker" let-event>
        <span
          class="custom-marker shadow-2"
          [style.backgroundColor]="event.color"
        >
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card [header]="event.status" [subheader]="event.date">
          <img
            *ngIf="event.image"
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/product/' +
              event.image
            "
            [alt]="event.name"
            width="200"
            class="shadow-2"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <button pButton label="Read more" class="p-button-text"></button>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>
