<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-orderList
      [value]="products"
      [listStyle]="{ height: '25rem' }"
      header="Products"
    >
      <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/product/{{
              product.image
            }}"
            [alt]="product.name"
            class="w-4rem shadow-2 flex-shrink-0 border-round"
          />
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ product.name }}</span>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-tag text-sm"></i>
              <span>{{ product.category }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ "$" + product.price }}</span>
        </div>
      </ng-template>
    </p-orderList>
  </div>

  <hr />

  <div class="card">
    <label flex>Filter</label>

    <p-orderList
      [value]="products"
      [listStyle]="{ 'max-height': '30rem' }"
      header="Products"
      filterBy="name"
      filterPlaceholder="Filter by name"
    >
      <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/product/{{
              product.image
            }}"
            [alt]="product.name"
            class="w-4rem shadow-2 flex-shrink-0 border-round"
          />
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ product.name }}</span>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-tag text-sm"></i>
              <span>{{ product.category }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ "$" + product.price }}</span>
        </div>
      </ng-template>
    </p-orderList>
  </div>

  <hr />

  <div class="card">
    <label flex>Drag Drop</label>

    <p-orderList
      [value]="products"
      [listStyle]="{ 'max-height': '30rem' }"
      header="Products"
      [dragdrop]="true"
    >
      <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/product/{{
              product.image
            }}"
            [alt]="product.name"
            class="w-4rem shadow-2 flex-shrink-0 border-round"
          />
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ product.name }}</span>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-tag text-sm"></i>
              <span>{{ product.category }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ "$" + product.price }}</span>
        </div>
      </ng-template>
    </p-orderList>
  </div>

  <hr />

  <div class="card">
    <label flex>Basic</label>
  </div>
</div>
