<nav>
  <ul>
    <ng-container *ngIf="tree">
      <li *ngFor="let page of list">
        <details>
          <summary>{{ page }}</summary>
          <ul>
            <li *ngFor="let m of pages[page]">
              <a
                [routerLink]="'/' + m"
                (click)="changeMenu(m)"
                [class.active]="m === activeMenu">
                {{ m.replaceAll('-', ' ') }}
              </a>
            </li>
          </ul>
        </details>
      </li>
    </ng-container>

    <ng-container *ngIf="!tree">
      <li *ngFor="let m of pages">
        <a
          [routerLink]="'/' + m"
          (click)="changeMenu(m)"
          [class.active]="m === activeMenu">
          {{ m.replaceAll('-', ' ') }}
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
