<div flex gap-20>
  <div column gap-20>
    <div class="card">
      <label for="integer" flex>Integer</label>

      <input
        pInputText
        id="integer"
        pKeyFilter="int"
        class="p-inputtext p-component p-element"/>
    </div>

    <div class="card">
      <label for="number" flex>Number</label>

      <input
        pInputText
        id="number"
        pKeyFilter="num"
        class="p-inputtext p-component p-element"/>
    </div>

    <div class="card">
      <label for="money" flex>Money</label>

      <input
        pInputText
        id="money"
        pKeyFilter="money"
        class="p-inputtext p-component p-element"/>
    </div>
  </div>

  <div column gap-20>
    <div class="card">
      <label for="hex" flex>Hex</label>

      <input
        pInputText
        id="hex"
        pKeyFilter="hex"
        class="p-inputtext p-component p-element"/>
    </div>

    <div class="card">
      <label for="alphabetic" flex>Alphabetic</label>

      <input
        pInputText
        id="alphabetic"
        pKeyFilter="alpha"
        class="p-inputtext p-component p-element"/>
    </div>

    <div class="card">
      <label for="alphanumeric" flex>Alphanumeric</label>

      <input
        pInputText
        id="alphanumeric"
        pKeyFilter="alphanum"
        class="p-inputtext p-component p-element"/>
    </div>
  </div>
</div>
