<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-badge value="2"></p-badge>
  </div>

  <hr />

  <div class="card">
    <label flex>Directive</label>

    <br />

    <i class="pi pi-bell text-3xl" pBadge value="2"></i>
  </div>

  <hr />

  <div class="card">
    <label flex>Severity</label>

    <div flex gap-10>
      <p-badge value="2" severity="success"></p-badge>
      <p-badge value="9" severity="info"></p-badge>
      <p-badge value="3" severity="warning"></p-badge>
      <p-badge value="12" severity="danger"></p-badge>
    </div>
  </div>

  <hr />

  <div class="card">
    <label flex>Size</label>

    <div flex gap-10>
      <p-badge value="2"></p-badge>
      <p-badge value="4" size="large" severity="warning"></p-badge>
      <p-badge value="6" size="xlarge" severity="success"></p-badge>
    </div>
  </div>

  <hr />

  <div class="card">
    <label flex>Position</label>

    <br>

    <div flex gap-10>
      <i
        class="pi pi-bell mr-4 p-text-secondary"
        pBadge
        style="font-size: 2rem"
        value="2"
      ></i>
      <i
        class="pi pi-calendar mr-4 p-text-secondary"
        pBadge
        style="font-size: 2rem"
        [value]="'10+'"
        severity="danger"
      ></i>
      <i
        class="pi pi-envelope p-text-secondary"
        pBadge
        style="font-size: 2rem"
        severity="danger"
      ></i>
    </div>
  </div>
</div>
