<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-toast></p-toast>

    <p-splitButton
      label="Save"
      [icon]="'pi pi-plus'"
      (onClick)="save('info')"
      [model]="items"
    ></p-splitButton>
  </div>

  <hr>

  <div class="card">
    <label flex>Nested</label>

    <p-toast></p-toast>
    <p-splitButton
      label="Save"
      icon="pi pi-plus"
      (onClick)="save('info')"
      [model]="nested"
    ></p-splitButton>
  </div>

  <hr>

  <div class="card">
    <label flex>Severity</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('info')"
          [model]="items"
        ></p-splitButton>

        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('info')"
          [model]="items"
          styleClass="p-button-secondary mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('success')"
          [model]="items"
          styleClass="p-button-success mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('info')"
          [model]="items"
          styleClass="p-button-info mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('warn')"
          [model]="items"
          styleClass="p-button-warning mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('info')"
          [model]="items"
          styleClass="p-button-help mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Save"
          icon="pi pi-plus"
          (onClick)="save('error')"
          [model]="items"
          styleClass="p-button-danger mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Raised</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Primary"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Secondary"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-secondary mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Success"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-success mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Info"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-info mr-2 mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Warning"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-warning mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Help"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-help mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Danger"
          [model]="items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-danger mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Rounded</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Primary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Secondary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-secondary mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Success"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-success mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Info"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-info mr-2 mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Warning"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-warning mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Help"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-help mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Danger"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-rounded p-button-danger mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Text</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Primary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Secondary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-secondary mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Success"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-success mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Info"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-info mr-2 mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Warning"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-warning mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Help"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-help mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Danger"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-danger mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Plain"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-text p-button-plain mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Raised Text</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Primary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Secondary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Success"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-success p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Info"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-info p-button-text mr-2 mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Warning"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-warning p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Help"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-help p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Danger"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-danger p-button-text mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Plain"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Outlined</label>

    <p-toast></p-toast>

    <div column gap-10>
      <div flex gap-10>
        <p-splitButton
          label="Primary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Secondary"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-secondary mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Success"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-success mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Info"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-info mr-2 mb-2"
        ></p-splitButton>
      </div>

      <div flex gap-10>
        <p-splitButton
          label="Warning"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-warning mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Help"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-help mr-2 mb-2"
        ></p-splitButton>

        <p-splitButton
          label="Danger"
          [model]="this.items"
          (onClick)="save('info')"
          styleClass="p-button-outlined p-button-danger mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Sizes</label>

    <p-toast></p-toast>

    <div flex gap-10>
      <p-splitButton
        label="Small"
        [model]="this.items"
        (onClick)="save('info')"
        styleClass="p-button-sm mr-2 mb-2"
      ></p-splitButton>

      <p-splitButton
        label="Normal"
        [model]="this.items"
        (onClick)="save('info')"
        styleClass="mr-2 mb-2"
      ></p-splitButton>

      <p-splitButton
        label="Large"
        [model]="this.items"
        (onClick)="save('info')"
        styleClass="p-button-lg mr-2 mb-2"
      ></p-splitButton>
    </div>
  </div>

  <hr>

  <div class="card">
    <label flex>Disabled</label>

    <p-toast></p-toast>

    <p-splitButton
      label="Save"
      icon="pi pi-plus"
      (onClick)="save('info')"
      [model]="items"
      [disabled]="true"
    ></p-splitButton>
  </div>

  <br />
</div>
