<div class="full flex column gap-10px mt30px">
  <label>Search a Country</label>
  <input class="p-input" type='text' (keyup)="searchCountry($event)" />

  <div class="full flex flex-wrap gap-30px mb20px" *ngIf="selectedCountry.length > 0">
    <div class="flex gap-10px" *ngFor="let flag of selectedCountry">
      <span class='flag' style.backgroundImage="url(assets/flags/{{ flag.id | lowercase }}.svg)"></span>

      <span>{{ flag.country }}</span>
    </div>
  </div>

  <div class='full mt20px'>
    <span class="full flex-wrap gap-10px center">
      <b>Used:</b>
      <span *ngFor="let tag of tags.flags" class='tag'>{{ tag }}</span>
    </span>
  </div>
</div>
