/***** FONTS IMPORTS *****/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/***** FONTS IMPORTS - END *****/

/***** RESET CSS *****/
* {
  margin: unset;
  padding: unset;
  outline: unset;
  box-sizing: border-box;
  border: none;  
  border-style: solid;  
  border-width: 0px;
}

html, body {
  height: 100vh;
  font-family: var(--main-font);
  -webkit-text-size-adjust: 100%;
  background-color: var(--white);
}

html, body, header, footer, section, input, select, textarea, article, table, 
thead, tbody, tfoot, progress, meter, [row], [full] { width: 100% }

a {
  text-decoration: none;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

[no-select], [no-selection] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent
}
::placeholder { color: var(--placeholder) }
::selection { background-color: var(--primary); color: var(--yellow); }
button:disabled { background-color: var(--disabled) }
/***** RESET CSS - END *****/

body {
    background: linear-gradient(180deg, rgba(11,5,17,1) 0%, rgba(14,12,16,1) 19%, rgba(15,0,29,1) 100%);
    overflow: hidden;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

/***** SCROLL BAR *****/
::-webkit-scrollbar-thumb { 
    background: var(--magenta); 
    border-radius: 1000px;
}
::-webkit-scrollbar-track { border-radius: 4px }
::-webkit-scrollbar-thumb:hover { background: var(--scroll-bar-hover) }
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { background: var(--transparent) }
::-webkit-scrollbar, ::-webkit-scrollbar:vertical { width: 20px; height: 20px }
::-webkit-scrollbar-thumb:hover { background: var(--green-4) }
/***** SCROLL BAR - END *****/

main {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
}
main section {
    overflow-y: auto;
    margin: 0 1% 1% 0;
    padding: 0 1% 0 2%;
}
[glass-card] {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(2px);
}

/***** ROOT *****/
:root {
    /***** FONTS *****/
    --main-font: 'Inter Tight', 'Helvetica', 'Arial', sans-serif;
    
    /***** COLORS *****/
    --primary:#7100CC;
    --primary-light: var(--purple-2);
    --primary-dark: #17002C;
  
    --secondary:#00FFDA;
    --secondary-light:#98FFF0;
    --secondary-dark: #001816;
  
    --blue:#005EF9;
    --blue-light: var(--blue-2);
    --blue-dark:#0A002E;
  
    --red-light: #FFC7D0;
    --yellow-light: var(--yellow-2);
    --rose: #FF5591;
    --purple: #E1009D;
    --cyan: #3DDDFF;
    --yellow: #FBDA00;
    --green: var(--green-5);
    --green-dark: var(--green-6);
    --green-light: var(--green-1);

    --green-7: #001816;
    --green-6: #00352D;
    --green-5: #00775F;
    --green-4: #00DDBB;
    --green-3: #00FFDA;
    --green-2: #98FFF0;
    --green-1: #CCF7F2;
  
    --purple-7: #17002C;
    --purple-6: #36006E;
    --purple-5: #7000CC;
    --purple-4: #C262F4;
    --purple-3: #D48AFF;
    --purple-2: #F4C8FF;
    --purple-1: #FCE9FF;
  
    --blue-7: #0A002E;
    --blue-6: #050065;
    --blue-5: #0023F5;
    --blue-4: #00C0FF;
    --blue-3: #3DDDFF;
    --blue-2: #A2F5FF;
    --blue-1: #C6F3FB;

    --red: #FC1800;
    --magenta: #FF1C6C;
  
    --error: var(--red);
    --warning: var(--orange);
    --success: #00bb83;
    --gray: var(--gray-5);
    --dark: var(--gray-9);
    --black: #0A080B;
    --white: #ffffff;

    /* SCROLLBAR */
    --scroll-bar: var(--primary);
    --scroll-bar-hover: var(--primary-dark);
}
/***** ROOT - END *****/

/***** TEXTS *****/
h1 { font-size: 64px }
h2 { font-size: 56px }
h3 { font-size: 48px }
h4 { font-size: 40px }
h5 { font-size: 32px }
h6 { font-size: 24px }
h1, h2, h3, h4, h5, h6, button { font-family: var(--second-font) }
[bold] { font-weight: bold }
/***** TEXTS - END *****/

/***** CURSORS *****/
a, button, select, option, input[type='radio'], input[type='checkbox'], 
input[type='button'], input[type='submit'], [pointer] { cursor: pointer }

/***** POSITION / DISPLAY  *****/
[flex] { display: flex }
[block] { display: block }
[none] { display: none }
[grid] { display: grid }
[table] { display: table }
[inline] { display: inline }
[inline-flex] { display: inline-flex }
[inline-block] { display: inline-block }
[inline-table] { display: inline-table }
[row] { display: flex; flex-direction: row }
[row-reverse] { display: flex; flex-direction: row-reverse }
[col], [column] { display: flex; flex-direction: column }
[col-reverse], [column-reverse] { display: flex; flex-direction: column-reverse }
[center] { display: flex; justify-content: center }
[flex-wrap] { display: flex; flex-wrap: wrap }
[center-div], [centered] { display: flex; justify-content: center; align-items: center }
[justify-content-space-between] { display: flex; justify-content: space-between }
[justify-content-flex-start] { display: flex; justify-content: flex-start }
[justify-content-flex-end] { display: flex; justify-content: flex-end }
[justify-items-space-between] { display: flex; justify-items: space-between }
[justify-items-flex-start] { display: flex; justify-items: flex-start }
[justify-items-flex-end] { display: flex; justify-items: flex-end }
[align-items-space-between] { display: flex; align-items: space-between }
[align-items-flex-start] { display: flex; align-items: flex-start }
[align-items-flex-end] { display: flex; align-items: flex-end }
[align-content-space-between] { display: flex; align-content: space-between }
[align-content-flex-start] { display: flex; align-content: flex-start }
[align-content-flex-end] { display: flex; align-content: flex-end }
[absolute] { position: absolute }
[relative] { position: relative }
[fixed] { position: fixed }
[sticky] { position: sticky }
[float-right] { float: right }
[float-left] { float: left }
[clear-both] { clear: both }
[w-fit] { width: fit-content }
[w-max] { width: max-content }
[w-min] { width: min-content }
[w-100], [w-full], [full] { width: 100% }
[vw-100], [vw-full] { width: 100vw }
[w-auto] { width: auto }
[w-half] { width: 49% }
[h-fit] { height: fit-content }
[h-max] { height: max-content }
[h-min] { height: min-content }
[h-auto] { height: auto }
[h-half] { height: 49% }
[h-100], [h-full] { height: 100% }
[vh-100], [vh-full] { width: 100vh }
/***** POSITION / DISPLAY - END *****/

/***** GAP *****/
[gap-5px] { gap: 5px }
[gap-10px] { gap: 10px }
[gap-15px] { gap: 15px }
[gap-20px] { gap: 20px }
[gap-25px] { gap: 25px }
[gap-30px] { gap: 30px }
[gap-35px] { gap: 35px }
[gap-40px] { gap: 40px }
/***** GAP *****/

/***** SHARED/COMBINED ATTRIBUTES *****/
[flex], [center], [centered], 
button, input[type='button'], input[type='submit'], input[type='radio'] { display: flex }
[center], button, input[type='button'], input[type='submit'] { align-items: center }
[centered], button, input[type='button'], input[type='submit'] { justify-content: center }
::-webkit-calendar-picker-indicator, input[type="color"] { cursor: pointer }
a, button, input[type='button'], input[type='submit'], input[type='radio'] { transition: all .2s ease-in-out }
/***** SHARED/COMBINED ATTRIBUTES *****/

/***** COLOR *****/
[color-white], li[marker-white]::marker { color: var(--white) }

/***** BORDER - END *****/
[rounded] { border-radius: 5px }
[full-rounded] { border-radius: 5000px }
/***** BORDER - END *****/

/***** MARGIN *****/
[m-auto], [margin-auto] { margin: auto }
[m-0px] { margin: 0px }
[m-1px] { margin: 1px }
[m-2px] { margin: 2px }
[m-3px] { margin: 3px }
[m-4px] { margin: 4px }
[m-5px] { margin: 5px }
[m-10px] { margin: 10px }
[m-15px] { margin: 15px }
[m-20px] { margin: 20px }
[m-25px] { margin: 25px }
[m-30px] { margin: 30px }
[m-35px] { margin: 35px }
[m-40px] { margin: 40px }
[m-45px] { margin: 45px }
[m-50px] { margin: 50px }
[m-60px] { margin: 60px }
[m-70px] { margin: 70px }
[m-80px] { margin: 80px }
[m-90px] { margin: 90px }
[m-100px] { margin: 100px }
[m-150px] { margin: 150px }
[m-200px] { margin: 200px }

[mt-0px] { margin-top: 0px }
[mt-1px] { margin-top: 1px }
[mt-2px] { margin-top: 2px }
[mt-3px] { margin-top: 3px }
[mt-4px] { margin-top: 4px }
[mt-5px] { margin-top: 5px }
[mt-10px] { margin-top: 10px }
[mt-15px] { margin-top: 15px }
[mt-20px] { margin-top: 20px }
[mt-25px] { margin-top: 25px }
[mt-30px] { margin-top: 30px }
[mt-35px] { margin-top: 35px }
[mt-40px] { margin-top: 40px }
[mt-45px] { margin-top: 45px }
[mt-50px] { margin-top: 50px }
[mt-60px] { margin-top: 60px }
[mt-70px] { margin-top: 70px }
[mt-80px] { margin-top: 80px }
[mt-90px] { margin-top: 90px }
[mt-100px] { margin-top: 100px }
[mt-150px] { margin-top: 150px }
[mt-200px] { margin-top: 200px }

[mr-0px] { margin-right: 0px }
[mr-1px] { margin-right: 1px }
[mr-2px] { margin-right: 2px }
[mr-3px] { margin-right: 3px }
[mr-4px] { margin-right: 4px }
[mr-5px] { margin-right: 5px }
[mr-10px] { margin-right: 10px }
[mr-15px] { margin-right: 15px }
[mr-20px] { margin-right: 20px }
[mr-25px] { margin-right: 25px }
[mr-30px] { margin-right: 30px }
[mr-35px] { margin-right: 35px }
[mr-40px] { margin-right: 40px }
[mr-45px] { margin-right: 45px }
[mr-50px] { margin-right: 50px }
[mr-60px] { margin-right: 60px }
[mr-70px] { margin-right: 70px }
[mr-80px] { margin-right: 80px }
[mr-90px] { margin-right: 90px }
[mr-100px] { margin-right: 100px }
[mr-150px] { margin-right: 150px }
[mr-200px] { margin-right: 200px }

[mb-0px] { margin-bottom: 0px }
[mb-1px] { margin-bottom: 1px }
[mb-2px] { margin-bottom: 2px }
[mb-3px] { margin-bottom: 3px }
[mb-4px] { margin-bottom: 4px }
[mb-5px] { margin-bottom: 5px }
[mb-10px] { margin-bottom: 10px }
[mb-15px] { margin-bottom: 15px }
[mb-20px] { margin-bottom: 20px }
[mb-25px] { margin-bottom: 25px }
[mb-30px] { margin-bottom: 30px }
[mb-35px] { margin-bottom: 35px }
[mb-40px] { margin-bottom: 40px }
[mb-45px] { margin-bottom: 45px }
[mb-50px] { margin-bottom: 50px }
[mb-60px] { margin-bottom: 60px }
[mb-70px] { margin-bottom: 70px }
[mb-80px] { margin-bottom: 80px }
[mb-90px] { margin-bottom: 90px }
[mb-100px] { margin-bottom: 100px }
[mb-150px] { margin-bottom: 150px }
[mb-200px] { margin-bottom: 200px }

[ml-0px] { margin-left: 0px }
[ml-1px] { margin-left: 1px }
[ml-2px] { margin-left: 2px }
[ml-3px] { margin-left: 3px }
[ml-4px] { margin-left: 4px }
[ml-5px] { margin-left: 5px }
[ml-10px] { margin-left: 10px }
[ml-15px] { margin-left: 15px }
[ml-20px] { margin-left: 20px }
[ml-25px] { margin-left: 25px }
[ml-30px] { margin-left: 30px }
[ml-35px] { margin-left: 35px }
[ml-40px] { margin-left: 40px }
[ml-45px] { margin-left: 45px }
[ml-50px] { margin-left: 50px }
[ml-60px] { margin-left: 60px }
[ml-70px] { margin-left: 70px }
[ml-80px] { margin-left: 80px }
[ml-90px] { margin-left: 90px }
[ml-100px] { margin-left: 100px }
[ml-150px] { margin-left: 150px }
[ml-200px] { margin-left: 200px }
/***** MARGIN - END *****/

/***** PADDING *****/
[p-0px] { padding: 0px }
[p-1px] { padding: 1px }
[p-2px] { padding: 2px }
[p-3px] { padding: 3px }
[p-4px] { padding: 4px }
[p-5px] { padding: 5px }
[p-10px] { padding: 10px }
[p-15px] { padding: 15px }
[p-20px] { padding: 20px }
[p-25px] { padding: 25px }
[p-30px] { padding: 30px }
[p-35px] { padding: 35px }
[p-40px] { padding: 40px }
[p-45px] { padding: 45px }
[p-50px] { padding: 50px }
[p-60px] { padding: 60px }
[p-70px] { padding: 70px }
[p-80px] { padding: 80px }
[p-90px] { padding: 90px }
[p-100px] { padding: 100px }

[pt-0px] { padding-top: 0px }
[pt-1px] { padding-top: 1px }
[pt-2px] { padding-top: 2px }
[pt-3px] { padding-top: 3px }
[pt-4px] { padding-top: 4px }
[pt-5px] { padding-top: 5px }
[pt-10px] { padding-top: 10px }
[pt-15px] { padding-top: 15px }
[pt-20px] { padding-top: 20px }
[pt-25px] { padding-top: 25px }
[pt-30px] { padding-top: 30px }
[pt-35px] { padding-top: 35px }
[pt-40px] { padding-top: 40px }
[pt-45px] { padding-top: 45px }
[pt-50px] { padding-top: 50px }
[pt-60px] { padding-top: 60px }
[pt-70px] { padding-top: 70px }
[pt-80px] { padding-top: 80px }
[pt-90px] { padding-top: 90px }
[pt-100px] { padding-top: 100px }

[pr-0px] { padding-right: 0px }
[pr-1px] { padding-right: 1px }
[pr-2px] { padding-right: 2px }
[pr-3px] { padding-right: 3px }
[pr-4px] { padding-right: 4px }
[pr-5px] { padding-right: 5px }
[pr-10px] { padding-right: 10px }
[pr-15px] { padding-right: 15px }
[pr-20px] { padding-right: 20px }
[pr-25px] { padding-right: 25px }
[pr-30px] { padding-right: 30px }
[pr-35px] { padding-right: 35px }
[pr-40px] { padding-right: 40px }
[pr-45px] { padding-right: 45px }
[pr-50px] { padding-right: 50px }
[pr-60px] { padding-right: 60px }
[pr-70px] { padding-right: 70px }
[pr-80px] { padding-right: 80px }
[pr-90px] { padding-right: 90px }
[pr-100px] { padding-right: 100px }

[pb-0px] { padding-bottom: 0px }
[pb-1px] { padding-bottom: 1px }
[pb-2px] { padding-bottom: 2px }
[pb-3px] { padding-bottom: 3px }
[pb-4px] { padding-bottom: 4px }
[pb-5px] { padding-bottom: 5px }
[pb-10px] { padding-bottom: 10px }
[pb-15px] { padding-bottom: 15px }
[pb-20px] { padding-bottom: 20px }
[pb-25px] { padding-bottom: 25px }
[pb-30px] { padding-bottom: 30px }
[pb-35px] { padding-bottom: 35px }
[pb-40px] { padding-bottom: 40px }
[pb-45px] { padding-bottom: 45px }
[pb-50px] { padding-bottom: 50px }
[pb-60px] { padding-bottom: 60px }
[pb-70px] { padding-bottom: 70px }
[pb-80px] { padding-bottom: 80px }
[pb-90px] { padding-bottom: 90px }
[pb-100px] { padding-bottom: 100px }

[pl-0px] { padding-left: 0px }
[pl-1px] { padding-left: 1px }
[pl-2px] { padding-left: 2px }
[pl-3px] { padding-left: 3px }
[pl-4px] { padding-left: 4px }
[pl-5px] { padding-left: 5px }
[pl-10px] { padding-left: 10px }
[pl-15px] { padding-left: 15px }
[pl-20px] { padding-left: 20px }
[pl-25px] { padding-left: 25px }
[pl-30px] { padding-left: 30px }
[pl-35px] { padding-left: 35px }
[pl-40px] { padding-left: 40px }
[pl-45px] { padding-left: 45px }
[pl-50px] { padding-left: 50px }
[pl-60px] { padding-left: 60px }
[pl-70px] { padding-left: 70px }
[pl-80px] { padding-left: 80px }
[pl-90px] { padding-left: 90px }
[pl-100px] { padding-left: 100px }
/***** PADDING - END *****/

/***** WIDTH / HEIGHT *****/
[w-1] { width: 1% }
[w-2] { width: 2% }
[w-3] { width: 3% }
[w-4] { width: 4% }
[w-5] { width: 5% }
[w-10] { width: 10% }
[w-15] { width: 15% }
[w-20] { width: 20% }
[w-25] { width: 25% }
[w-30] { width: 30% }
[w-33] { width: 33% }
[w-35] { width: 35% }
[w-40] { width: 40% }
[w-45] { width: 45% }
[w-50] { width: 50% }
[w-55] { width: 55% }
[w-60] { width: 60% }
[w-65] { width: 65% }
[w-70] { width: 70% }
[w-75] { width: 75% }
[w-77] { width: 77% }
[w-80] { width: 80% }
[w-85] { width: 85% }
[w-90] { width: 90% }
[w-95] { width: 95% }
[w-100] { width: 100% }
[w-100vw] { width: 100vw }

[h-1] { height: 1% }
[h-2] { height: 2% }
[h-3] { height: 3% }
[h-4] { height: 4% }
[h-5] { height: 5% }
[h-10] { height: 10% }
[h-15] { height: 15% }
[h-20] { height: 20% }
[h-25] { height: 25% }
[h-30] { height: 30% }
[h-35] { height: 35% }
[h-40] { height: 40% }
[h-45] { height: 45% }
[h-50] { height: 50% }
[h-55] { height: 55% }
[h-60] { height: 60% }
[h-65] { height: 65% }
[h-70] { height: 70% }
[h-75] { height: 75% }
[h-80] { height: 80% }
[h-85] { height: 85% }
[h-90] { height: 90% }
[h-95] { height: 95% }
[h-100] { height: 100% }
[h-100vh] { height: 100vh }
/***** WIDTH / HEIGHT - END *****/