<div class="card">
  <div flex gap-10>
    <button type="button" pButton pRipple label="Block" (click)="blockedPanel=true"></button>
    <button type="button" pButton pRipple label="Unblock" (click)="blockedPanel=false"></button>
  </div>

  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>
  <p-panel #pnl header="Header" styleClass="mt-4">
      <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </p-panel>
</div>
