<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-megaMenu [model]="items[0]"></p-megaMenu>
  </div>

  <hr />

  <div class="card">
    <label flex>Template</label>

    <p-megaMenu [model]="items[1]" styleClass="flex">
      <ng-template pTemplate="start">
        <img
          src="https://primefaces.org/cdn/primeng/images/primeng.svg"
          height="40"
          class="mr-2"
        />
      </ng-template>
      <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" />
      </ng-template>
    </p-megaMenu>
  </div>
</div>
