<p mt-10px>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula
  venenatis elit sed vehicula. In non massa semper, fringilla lorem ut,
  condimentum ipsum. Aenean pharetra dolor finibus, fringilla lacus sit amet
  roin in nibh vitae dolor porttitor accumsan. Quisque
  tempus quam in sem blandit, at accumsan elit bibendum. Nam sit amet augue
  tortor.
</p>

<p mt-20px>
  Pellentesque luctus leo massa, mattis consequat odio varius non. Fusce
  sodales leo vitae odio vehicula, in sollicitudin augue feugiat. Mauris eget
  scelerisque dui. Pellentesque euismod urna at porttitor pharetra. Donec sit
  amet sapien blandit, tristique lorem at, lobortis sem. Vestibulum sollicitudin
  nisl pretium condimentum pulvinar.
</p>

<p mt-20px>
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur
  ridiculus mus. Duis nec efficitur est. Nam id consequat est. Morbi scelerisque
  interdum hendrerit. Aenean pharetra dolor finibus, fringilla lacus sit amet,
  fringilla quam.
</p>

<p mt-20px>
  Donec in diam non elit volutpat vulputate et a est. In hac habitasse platea
  dictumst. Curabitur lacinia pulvinar quam vitae tempus. Curabitur vel pretium
  nibh. Vivamus efficitur tempus urna placerat feugiat. Cras vitae mattis
  tortor. Sed nec tempus nulla. Morbi cursus massa eget elit volutpat, eget
  faucibus mauris hendrerit.
</p>

<hr divider />

<h5 mt-40px>Images</h5>
<div flex gap-30px>
  <img rounded mt-10px mb-20px src="https://via.placeholder.com/400x200" alt="Sample Image" />

  <img rounded mt-10px mb-20px src="https://via.placeholder.com/400x200" alt="Sample Image" />
</div>

<hr divider />

<h5 mt-40px>Introduction</h5>
<p mt-10px fs18px color-gray-6 italic>
  Vivamus efficitur tempus urna placerat feugiat. Cras vitae mattis
  tortor. Sed nec tempus nulla. Morbi cursus massa eget elit volutpat, eget
  faucibus mauris hendrerit.
</p>

<hr divider />

<details mt-40px mb-20px>
  <summary color-dark bold>Click to expand/collapse</summary>
  <p mt-20px>
    This is a hidden section that can be expanded or collapsed by clicking on
    the summary above.
  </p>
</details>

<hr divider />

<h5 mt-40px>Lists</h5>
<ul pl-50px mt-10px>
  <li>This is an unordered list item.</li>
  <li>Another unordered list item.</li>
  <li>And one more for good measure.</li>
</ul>

<ol mt-30px pl-30px>
  <li>This is an ordered list item.</li>
  <li>Another ordered list item.</li>
  <li>And one more for good measure.</li>
</ol>

<hr divider mt-30px />

<h5 mt-40px>Tables</h5>
<table>
  <tr border-1 border-bottom border-gray-3 color-gray-8>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
  </tr>
  <tr>
    <td>Row 2, Cell 1</td>
    <td>Row 2, Cell 2</td>
    <td>Row 2, Cell 3</td>
  </tr>
  <tr bg-gray-1>
    <td>Row 1, Cell 1</td>
    <td>Row 1, Cell 2</td>
    <td>Row 1, Cell 3</td>
  </tr>
  <tr>
    <td>Row 2, Cell 1</td>
    <td>Row 2, Cell 2</td>
    <td>Row 2, Cell 3</td>
  </tr>
  <tr bg-gray-1>
    <td>Row 1, Cell 1</td>
    <td>Row 1, Cell 2</td>
    <td>Row 1, Cell 3</td>
  </tr>
  <tr>
    <td>Row 2, Cell 1</td>
    <td>Row 2, Cell 2</td>
    <td>Row 2, Cell 3</td>
  </tr>
</table>

<div p-20px block full></div>
