@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./app/shared/flags/flags.scss";
@import "./app/shared/css/quill.scss";
@import "./ng-prime.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font: inherit;
  -webkit-text-size-adjust: 100%;
}

body { background-color: #ffffff }

input, textarea, input:focus, textarea:focus, input:focus-within, textarea:focus-within {
  outline: none!important;
}
:root {
  --primary: #fbff00;
  --secondary: #0400ff;
  --dark: #424242;
  --gray: #969696;
  --gray-light: #cbcbcb;
  --white: #ffffff;
  --black: #0e0e0e;
}

label[flex], label.flex {
  margin-bottom: 5px;
  font-size: 14px;
}

[full], .full {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

[home] {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url('https://joaocarlosalves.dev/angular/ng-prime/bg.png') no-repeat center center;
  background-size: cover;
}

[center] {
  display: flex;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  background-color: none;
}

::-webkit-scrollbar { width: 18px; height: 18px }
::-webkit-scrollbar-thumb { background: var(--secondary) }
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { background: transparent }

ul { list-style: none }

html, body { height: 100% }
html, body, p, header, section,
article, h1, h2, h3, h4, h5, h6 { width: 100% }

h1, h2, h3, h4, h5, h6 { font-weight: bold!important }

p { margin-bottom: 15px }

b { font-weight: bold }

a {
  text-decoration: none;
  color: inherit;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex, [flex] { display: flex }
.col, .column, [col], [column] {
  display: flex;
  flex-direction: column;
}

.gap-5,  [gap-5]  { gap: 5px }
.gap-10, [gap-10] { gap: 10px }
.gap-20, [gap-20] { gap: 20px }
.gap-30, [gap-30] { gap: 30px }

.mb20px { margin-bottom: 20px }
.mt20px { margin-top: 20px }

button { border: none!important }

content { margin-left: 305px; width: calc(100% - 305px) }

fieldset { padding: 10px }

main {
  display: flex;
  .main-content, aside { padding: 20px }

  .main-content { padding: 20px }

  aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--secondary);

    nav {
      width: 85%;
      height: 100%;
      position: absolute;
      overflow: auto;
      padding: 5px 0 50px;
    }

    ul {
      details {
        margin-bottom: 5px;
        &[open] ul { margin-bottom: 30px }

        li {
          padding: 3px 0;

          a {
            margin-left: 20px;
            opacity: .9;
            text-transform: capitalize;

            &:hover, &.active {
              text-shadow: 0 0 3px var(--primary);
              opacity: 1;
              margin-left: 25px;
              letter-spacing: .75px;
              transform: scale(1.05);
            }
          }
        }

        li a,
        summary {
          text-decoration: none;
          color: var(--primary);
          font-size: 16px;
          font-weight: 300;
          font-style: italic;
          transition: all .2s ease-in-out;
        }

        summary {
          list-style: none;
          cursor: pointer;
          text-transform: capitalize;
          font-weight: bold;
          font-size: 18px;
          padding: 0 0 2px 0;
          margin-bottom: 10px;
          border-bottom: 1px solid rgba(#fff, .4);
        }
      }
    }
  }
}

.page-container {
  width: 100%;

  h1 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 45px;
    color: var(--dark);
    border-bottom: 1px solid var(--gray-light);
  }
}

/* Bottom-sheet */
.bottom-sheet {
  padding: 20px;
  min-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    width: 100%;
    font-weight: bold;
    color: var(--primary);
    transition: all .2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
    opacity: .8;

    &:hover {
      background-color: var(--secondary);
      text-indent: 10px;
      opacity: 1;
    }
  }
}
