<div column gap-30>
  <div class="card">
    <label flex>Basic</label>

    <p-toast></p-toast>
    <p-fileUpload
      mode="basic"
      chooseLabel="Choose"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      [maxFileSize]="1000000"
      (onUpload)="onUpload($event)"
    ></p-fileUpload>
  </div>

  <hr />

  <div class="card">
    <label flex>Advanced</label>

    <p-fileUpload
      name="myfile[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      [multiple]="true"
      accept="image/*"
      [maxFileSize]="1000000"
    >
      <ng-template pTemplate="toolbar">
        <div class="py-3">Upload 3 Files</div>
      </ng-template>
      <ng-template let-file pTemplate="file">
        <div>Custom UI to display a file</div>
      </ng-template>
      <ng-template pTemplate="content" let-files>
        <div>Additional content.</div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
