<div column gap-30>
  <div class="card">
    <div class="col-12 md:col-4">
      <label flex>Label</label>
      <p-avatar label="P" styleClass="mr-2" size="xlarge"></p-avatar>
      <p-avatar
        label="V"
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
      ></p-avatar>
      <p-avatar
        label="U"
        styleClass="mr-2"
        [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
      ></p-avatar>
    </div>

    <br>

    <div class="col-12 md:col-4">
      <label flex>Label - Circle</label>
      <p-avatar
        label="P"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>
      <p-avatar
        label="V"
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
      <p-avatar
        label="U"
        styleClass="mr-2"
        [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
    </div>

    <br>

    <div class="col-12 md:col-4">
      <label flex>Label - Badge</label>
      <p-avatar
        label="U"
        pBadge
        styleClass="mr-5"
        value="4"
        size="large"
        [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"
      ></p-avatar>
    </div>
  </div>

  <hr />

  <div class="card">
    <div class="col-12 md:col-4">
      <label flex>Icon</label>
      <p-avatar icon="pi pi-user" styleClass="mr-2"></p-avatar>
      <p-avatar
        icon="pi pi-user"
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
      ></p-avatar>
      <p-avatar
        icon="pi pi-user"
        styleClass="mr-2"
        [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
      ></p-avatar>
    </div>

    <br>

    <div class="col-12 md:col-4">
      <label flex>Icon - Circle</label>
      <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
      <p-avatar
        icon="pi pi-user"
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
      <p-avatar
        icon="pi pi-user"
        styleClass="mr-2"
        [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
    </div>

    <br>

    <div class="col-12 md:col-4">
      <label flex>Icon - Badge</label>
      <p-avatar
        icon="pi pi-user"
        pBadge
        value="4"
        severity="success"
        styleClass="mr-2"
        size="large"
      ></p-avatar>
    </div>
  </div>

  <hr />

  <div class="card">
    <label flex>Image</label>

    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>

    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
      styleClass="mr-2"
      size="large"
      shape="circle"
    ></p-avatar>

    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
      styleClass="mr-2"
      shape="circle"
    ></p-avatar>
  </div>

  <br>
</div>
